[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
augpathlib = {git = "https://github.com/tgbugs/augpathlib.git"}
htmlfn = {git = "https://github.com/tgbugs/pyontutils.git", subdirectory = "htmlfn"}
protcur = {git = "https://github.com/tgbugs/protc.git", subdirectory = "protcur"}
pyontutils = {git = "https://github.com/tgbugs/pyontutils.git"}
pysercomb = {git = "https://github.com/tgbugs/parsercomb.git"}
ttlser = {git = "https://github.com/tgbugs/pyontutils.git", subdirectory = "ttlser"}
"e1839a8" = {path = ".", editable = true}
